body{font-size: 2rem;margin: 0px;padding: 0px;}
div{box-sizing: border-box}
.fl{float: left}
.item{border-bottom: 8px solid #eee;overflow: hidden;height: 100%;margin-top: 1px;}
.div1{height: 320px;width: 35%;text-align: center;position: relative}
.div1>img{position:absolute;transform:translate(-50%,-50%); left:50%; top:50%;height: 290px;width: 80%;box-shadow: 2px 2px 4px 2px #ccc;border-radius: 5px}
.div2{width: 65%;padding: 10px;height: 320px}
.div2>p{height: 2rem;line-height: 2rem;}
.p1{font-weight: 600;padding: 10px 0px;font-size: 2.5rem}
.p2,.p3,.p4{color:#666;font-size: 1.5rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.p3>span{padding-right:10px;}
.p4>span{padding-right:10px;}
/*影片详情*/
.top{border-bottom: 1px solid #bbb;position: fixed;top: 0;left: 0;width: 100%;z-index: 2;}
.top>span{padding: 10px;display: inline-block;}
.container{overflow: hidden;margin-top: 62.6px; background-color: rgba(50, 50,50, .5)}
.container-left{width: 35%;height: 426px;position: relative;}
.container-left img{width: 90%; position:absolute;bottom: 0;left: 5%}
.feature{overflow: hidden; }
.feature div {width: 50%; text-align: center; padding: 20px 0px;border-bottom: 1px solid #ccc}
.feature div:nth-child(1){border-right: 1px solid #ccc;}
.container-right div p {color:white;height: 20px;line-height: 20px;}
.container-right-div1{padding-top: 15%;}
.container-right-div1 p:nth-child(1) {color:white;font-size: 2.5rem;font-weight: 700;}
.container-right-div2 p:nth-child(1) span {padding-right: 5px;}